body {
    margin: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#container {
    width: 500px;
    margin: 20px auto;
}

#hero {
    background-color: #FDA4AF;
    align-items: center;
    padding: 20px;
}

#input {
    font-size: 50px;
    font-weight: bolder; 
    text-align: center;
}

.input-box {
    border: solid 2px #FB7185; 
    color: #FFF1F2; 
    background: #FECDD3; 
    border-radius: 5px;
    width: 115px;
    height: 75px;

}
::placeholder {
    color: #FFF1F2;
    opacity: 1;
}

#convert-btn {
    width: 120px;
    height: 42px;
    margin-top: 10px;
    border: outset 2px #FB7185;
    border-radius: 5px;
    background: #FB7185;
    color: #FFF1F2;
}

h1  {
    font-size: 25px;
    color: #FFF1F2; 
}
h3, p {
    color: #3c0707;
}

#main {
    background-color: #fcebeb;
    align-items: center;
    padding: 10px;
}

.unit-box {
    background: rgb(253, 247, 247); 
    padding: 5px;
    margin-top: 10px;

}    